.table {
  width: 200px;
  height: 200px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.cell {
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title button {
  margin-top: 20px;
}

.status {
  margin: 0;
  margin-top: 40px;
}
